@model TeamVM    

@{
    ViewData["Title"] = "Team Page";
} 

<section>
     @foreach (var item in Model.healthy)
     {
         <div class="w-100 float-left generic-banner-con text-xl-left text-lg-left text-center">
                     <div class="container">
                        <div class="generic-banner-content text-white text-center">
                           <h1>@item.Title</h1>
                           <p class="text-white mb-0">@item.Description</p>
                        </div>
                     </div>
                  </div>
     }
                  
            </section>
               <!-- banner-end -->
            </div>
         </div>
      </div>
      <!-- header-and-banner-section -->
      <!-- professional-section-->
      <section>
         <div class="w-100 float-left professional-con">
            <div class="container">
               <div class="professional-title text-center">
                  <h2>Meet Our Professionals</h2>
                  <p>Seram ipsum dolor sit amet, consectetur adipiscing elit sed lorem ipsum dolor sit amet, consectetur<br>
                     adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
               </div>
               <div class="professional-box">
                  <div class="row">

                      @foreach (var item in Model.news)
                      {
                           <div class="col-lg-4 col-md-4">
                        <a href="/detail">
                           <div class="professional-box-item text-center">
                              <figure class="mb-0">
                                 <img src="@item.PhotoURL" alt="professional-box-img" class="img-fluid">
                              </figure>
                              <h5>@item.Name</h5>
                              <small class="d-block">@item.Title</small>
                              <span class="d-block">@item.Description</span>
                              <div class="professional-box-social-list">
                                 <ul class="list-unstyled mb-0">
                                    <li class="d-inline-block"><a href="https://www.facebook.com/"><i class="fab fa-facebook-square d-flex align-items-center justify-content-center text-white pr-0"></i></a></li>
                                    <li class="d-inline-block"><a href="https://twitter.com/?lang=en"><i class="fab fa-twitter-square d-flex align-items-center justify-content-center text-white pr-0"></i></a></li>
                                    <li class="d-inline-block"><a href="https://www.linkedin.com/signup"><i class="fab fa-linkedin d-flex align-items-center justify-content-center text-white pr-0"></i></a></li>
                                    <li class="d-inline-block"><a href="https://www.pinterest.com/"><i class="fab fa-pinterest-square mr-0 d-flex align-items-center justify-content-center text-white pr-0"></i></a></li>
                                 </ul>
                              </div>
                           </div>
                              <div class="mt-5 professional-box-item text-center">
                              <figure class="mb-0">
                                 <img src="@item.PhotoURL" alt="professional-box-img" class="img-fluid">
                              </figure>
                              <h5>@item.Name</h5>
                              <small class="d-block">@item.Title</small>
                              <span class="d-block">@item.Description</span>
                              <div class="professional-box-social-list">
                                 <ul class="list-unstyled mb-0">
                                    <li class="d-inline-block"><a href="https://www.facebook.com/"><i class="fab fa-facebook-square d-flex align-items-center justify-content-center text-white pr-0"></i></a></li>
                                    <li class="d-inline-block"><a href="https://twitter.com/?lang=en"><i class="fab fa-twitter-square d-flex align-items-center justify-content-center text-white pr-0"></i></a></li>
                                    <li class="d-inline-block"><a href="https://www.linkedin.com/signup"><i class="fab fa-linkedin d-flex align-items-center justify-content-center text-white pr-0"></i></a></li>
                                    <li class="d-inline-block"><a href="https://www.pinterest.com/"><i class="fab fa-pinterest-square mr-0 d-flex align-items-center justify-content-center text-white pr-0"></i></a></li>
                                 </ul>
                              </div>
                           </div>
                        </a>
                        
                     </div>
                      }
                    
                    
                  </div>
                  
               </div>
            </div>
         </div>
      </section>
      <!-- professional-section-->
      <!-- form-section -->
<section>
    <div class="w-100 float-left form-main-con" id="contact-form">
        <div class="container">
            <div class="text-center">
                <h2>Book An Appointment</h2>
                <p>
                    Seram ipsum dolor sit amet, consectetur adipiscing elit, sed do eius mod tempor incididunt aenean<br>
                    leo ligula porttitor eu consequat vitae eleifend tac.
                </p>
            </div>
            <div class="row">
                <div class="col-lg-6 order-xl-0 order-lg-0 order-2">
                    <div class="form-left-con position-relative text-center">
                        <figure class="mb-0 left-curve-img wow slideInLeft">
                            <img src="assets/image/small-left-curve-img.png" alt="" class="img-fluid">
                        </figure>
                        <figure class="mb-0">
                            <img src="assets/image/form-left-img.png" alt="form-left-img" class="img-fluid human-img form-left-img">
                        </figure>
                        <figure class="mb-0 right-curve-img wow slideInRight">
                            <img src="assets/image/small-right-curve-img.png" alt="" class="img-fluid">
                        </figure>
                    </div>
                </div>
                <div class="col-lg-6">
                    <form method="post" class="contact-form">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1" class="text-white">Department</label>
                            <select class="form-control position-relative" id="exampleFormControlSelect1">
                                <option>Doctors</option>
                                <option>Hospitals</option>
                                <option>General Medicine</option>
                                <option>Hospice Care</option>
                                <option>Rehab</option>
                            </select>
                            <i class="fas fa-angle-down"></i>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Name:" name="Name" id="name">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <input type="email" name="Email" class="form-control" placeholder="Email:">
                                    <small id="emailHelp" class="form-text text-muted"></small>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <input type="time" name="Date" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <select class="form-control position-relative">
                                        <option>Choose Doctor </option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                    <i class="fas fa-angle-down down-icon"></i>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="ProssionId" />
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="textarea form-group W-100">
                                    <textarea class="form-control "  placeholder="Message:" rows="3" name="Message" id="comments"></textarea>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn  appointment-btn">Make Appointment</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- form-section -->
      <!-- news-letter-section -->
      <section>
         <div class="w-100 float-left news-letter-con">
            <div class="container">
               <div class="news-letter-inner-con banner-overlay-img">
                  <div class="row overlay-img align-items-center">
                     <div class="col-lg-6 col-md-5">
                        <div class="news-letter-title">
                           <h2 class="text-white mb-0">Subscribe to our 
                              Newsletter
                           </h2>
                        </div>
                     </div>
                     <div class="col-lg-6 col-md-7">
                        <form method="post">
                             <div class="news-letter-input-con position-relative">
                            <div class="news-letter-input-feild">
                                <input type="email" name="Email" placeholder="Enter Your Email:" class="w-100">
                            </div>
                            <button>
                                <i class="far fa-envelope"></i>
                            </button>
                        </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- news-letter-section -->
      <!-- logo-section -->
      <div class="w-100 float-left logo-con">
         <div class="container">
            <div class="logo-inner-con">
               <div class="row">
                 @foreach (var item in Model.photos)
                   {
                       <div class="col-lg-2 col-md-2 col-sm-4 col-4">
                     <figure class="mb-0">
                        <img src="@item.PhotoURL" alt="client-logo-img" class="img-fluid">
                     </figure>
                  </div>
                   }
               </div>
            </div>
         </div>
      </div>
      <!-- logo-section -->
     
      <!-- footer-section -->
      <div class="w-100 float-left footer-con text-xl-left text-lg-left text-center">
         <div class="container">
            <div class="row">
               <div class="col-lg-6 col-md-6 col-12">
                  <p class="mb-0">Copyright ©2022 medtexh.com All Rights Reserved</p>
               </div>
               <div class="col-lg-6 col-md-6 col-12 d-flex justify-content-xl-end justify-content-lg-end justify-content-center">
                  <figure class="mb-0 d-inline-block">
                     <img src="assets/image/payment-img1.png" alt="payment-img" class="img-fluid">
                  </figure>
                  <figure class="mb-0 d-inline-block">
                     <img src="assets/image/payment-img2.png" alt="payment-img" class="img-fluid">
                  </figure>
                  <figure class="mb-0 d-inline-block">
                     <img src="assets/image/payment-img3.png" alt="payment-img" class="img-fluid">
                  </figure>
                  <figure class="mb-0 d-inline-block mr-0">
                     <img src="assets/image/payment-img4.png" alt="payment-img" class="img-fluid">
                  </figure>
               </div>
            </div>
         </div>
      </div>
      <!-- footer-section -->