@model AboutVM

@{
    ViewData["Title"] = "About Page";
}

<section>
    @foreach (var item in Model.healthy)
    {
        <div class="w-100 float-left generic-banner-con text-xl-left text-lg-left text-center">
                     <div class="container">
                        <div class="generic-banner-content text-white text-center">
                           <h1>@item.Title</h1>
                           <p class="text-white mb-0">@item.Description</p>
                        </div>
                     </div>
                  </div>
           
    }
     </section>
               <!-- banner-end -->
            </div>
         </div>
      </div>
                  
<section>
    <div class="w-100 float-left quality-system-con">
        <div class="container">
            <div class="row">
                @foreach (var item in Model.quality)
                {
                    <div class="col-lg-6 col-md-6 d-flex align-items-center">
                        <div class="quality-system-left-con">
                            <h2>
                                @item.Title
                            </h2>
                            <p>@item.Description</p>
                            <p>Aenean leo ligula, porttitor eu consequat vitae eleifend ac enim aliqu am lorem ante dapibus in viverra quis feugiata tellus.</p>
                            <div class="quality-system-list">
                                <ul class="list-unstyled">
                                    <li class="position-relative"><i class="fas fa-circle"></i>@item.Info</li>
                                    <li class="position-relative"><i class="fas fa-circle"></i>Emergency Cases</li>
                              <li class="position-relative"><i class="fas fa-circle"></i>Expert Doctors</li>    
                                </ul>
                                 <ul class="list-unstyled">
                              <li class="position-relative"><i class="fas fa-circle"></i>Update Covid-19</li>
                              <li class="position-relative"><i class="fas fa-circle"></i>24/7 Help Center</li>
                              <li class="position-relative"><i class="fas fa-circle"></i>Modern Clinic</li>
                           </ul>
                            </div>
                            <a href="#contact-form" class="appointment-btn">Learn More</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="quality-system-right-con position-relative text-center">

                            <figure class="mb-0">
                                <img src="@item.PhotoURL" alt="quality-system-img" class="img-fluid human-img">
                            </figure>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</section>
      <!-- quality-system-section -->
      <!-- core-vaule-section -->
      <section>
         <div class="w-100 float-left core-vaule-con">
            <div class="container">
               <div class="row">
                  <div class="col-lg-6 col-md-6 d-md-flex align-items-md-end order-xl-0 order-lg-0 order-md-0 order-2">
                     <div class="form-left-con core-vaule-left-con position-relative text-center">
                        <figure class="mb-0 left-curve-img wow slideInLeft" style="visibility: visible; animation-name: slideInLeft;">
                           <img src="assets/image/small-left-curve-img.png" alt="" class="img-fluid">
                        </figure>
                        <figure class="mb-0">
                           <img src="assets/image/core-value-left-img.png" alt="form-left-img" class="mb-0 img-fluid human-img">
                        </figure>
                        <figure class="mb-0 right-curve-img wow slideInRight" style="visibility: visible; animation-name: slideInRight;">
                           <img src="assets/image/small-right-curve-img.png" alt="" class="img-fluid">
                        </figure>
                     </div>
                  </div>
                  <div class="col-lg-6 col-md-6">
                     <div class="core-vaule-right-con text-xl-left text-lg-left text-md-left text-center">
                        <div class="core-vaule-title">
                           <h2>Our Core Values And 
                              Principle</h2>
                           <p>Seram ipsum dolor sit amet, consectetur adipiscing elit, sed 
                              doeius mod tempor incididunt aenean leo.</p>
                        </div>
                        <div class="core-vaule-box-con">
                           <div class="core-vaule-box-item position-relative">
                               @foreach (var item in Model.professions)
                               {
                                     <figure class="mb-0">
                                 <img src="@item.PhotoURL" alt="core-vaule-box-icon" class="img-fluid">
                              </figure>
                              <div class="core-vaule-box-title">
                                 <h5>@item.Title</h5>
                                 <span class="d-block">@item.Description</span>
                              </div>
                               }
                            
                         
                           </div>
                        </div>
                     </div>
                    
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- core-vaule-section -->
      <!-- fun-facts-section-->
      <section>
         <div class="w-100 float-left fun-facts-con  pt-0 pb-0">
            <div class="container">
               <div class="about-fun-facts-con banner-overlay-img">
                  <div class="text-center overlay-img about-fun-facts-title">
                     <h2 class="text-white">Our Doctors are Specialist<br>
                        & Experienced</h2>
                  </div>
                  <div class="fun-facts-box-con text-sm-left text-center pt-0 overlay-img">
                     <div class="row bg-white">

                         @foreach (var item in Model.patients)
                         {
                             <div class="col-lg-3 col-md-6 col-6 pl-0 pr-0 border-right-0">
                           <div class="fun-facts-box-item d-sm-flex align-items-sm-center">
                              <figure class="mb-0 d-inline-block">
                                 <img src="@item.PhotoURL" alt="fun-facts-icon1" class="img-fluid">
                              </figure>
                              <div class="fun-facts-item-content d-inline-block">
                                 <div class="position-relative fun-facts-item-title d-inline-block">
                                    <h2 class="count">@item.Count</h2>
                                    <span>+</span>
                                 </div>
                                 <p class="mb-0">@item.Info</p>
                              </div>
                           </div>
                        </div>
                         }
                        
                        
                     </div>
                  </div>
               </div>
               
            </div>
         </div>
      </section>
      <!-- fun-facts-section-->
      <!-- professional-section-->
      <section>
         <div class="w-100 float-left professional-con">
            <div class="container">
               <div class="professional-title text-center">
                  <h2>Meet Our Professionals</h2>
                  <p>Seram ipsum dolor sit amet, consectetur adipiscing elit sed lorem ipsum dolor sit amet, consectetur<br>
                     adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
               </div>
               <div class="professional-box">
                  <div class="row">

                      @foreach (var item in Model.news)
                      {
                          <div class="col-lg-4 col-md-4">
                        <a href="team-detail.html">
                           <div class="professional-box-item text-center">
                              <figure class="mb-0">
                                 <img src="@item.PhotoURL" class="img-fluid">
                              </figure>
                              <h5>@item.Name</h5>
                              <small class="d-block">Doctor of Medicine</small>
                              <span class="d-block">@item.Description</span>
                              <div class="professional-box-social-list">
                                 <ul class="list-unstyled mb-0">
                                    <li class="d-inline-block"><a href="https://www.facebook.com/"><i class="fab fa-facebook-square d-flex align-items-center justify-content-center text-white pr-0"></i></a></li>
                                    <li class="d-inline-block"><a href="https://twitter.com/?lang=en"><i class="fab fa-twitter-square d-flex align-items-center justify-content-center text-white pr-0"></i></a></li>
                                    <li class="d-inline-block"><a href="https://www.linkedin.com/signup"><i class="fab fa-linkedin d-flex align-items-center justify-content-center text-white pr-0"></i></a></li>
                                    <li class="d-inline-block"><a href="https://www.pinterest.com/"><i class="fab fa-pinterest-square mr-0 d-flex align-items-center justify-content-center text-white pr-0"></i></a></li>
                                 </ul>
                              </div>
                           </div>
                        </a>
                        
                     </div>
                      }
                     
                     
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- professional-section-->
      <!-- form-section -->
      <section>
         <div class="w-100 float-left form-main-con">
            <div class="container">
               <div class="text-center">
                  <h2>Book An Appointment</h2>
                  <p>Seram ipsum dolor sit amet, consectetur adipiscing elit, sed do eius mod tempor incididunt aenean<br>
                     leo ligula porttitor eu consequat vitae eleifend tac.
                  </p>
               </div>
               <div class="row">
                  <div class="col-lg-6 order-xl-0 order-lg-0 order-2">
                     <div class="form-left-con position-relative text-center">
                        <figure class="mb-0 left-curve-img wow slideInLeft">
                           <img src="assets/image/small-left-curve-img.png" alt="" class="img-fluid">
                        </figure>
                        <figure class="mb-0">
                           <img src="assets/image/form-left-img.png" alt="form-left-img" class="mb-0 img-fluid human-img">
                        </figure>
                        <figure class="mb-0 right-curve-img wow slideInRight">
                           <img src="assets/image/small-right-curve-img.png" alt="" class="img-fluid">
                        </figure>
                     </div>
                  </div>
                  <div class="col-lg-6">
                     <form class="contact-form">
                        <div class="form-group">
                           <label for="exampleFormControlSelect1" class="text-white">Department</label>
                           <select class="form-control position-relative" id="exampleFormControlSelect1">
                              <option>General Health Checkup</option>
                              <option>General Health Checkup</option>
                              <option>General Health Checkup</option>
                              <option>General Health Checkup</option>
                              <option>General Health Checkup</option>
                           </select>
                           <i class="fas fa-angle-down"></i>
                        </div>
                        <div class="row">
                           <div class="col-lg-6 col-md-6">
                              <div class="form-group">    
                                 <input type="text" class="form-control" placeholder="Name:" name="name" id="name"> 
                              </div>
                           </div>
                           <div class="col-lg-6 col-md-6">
                              <div class="form-group">
                                 <input type="email" class="form-control" placeholder="Email:">
                                 <small id="emailHelp" class="form-text text-muted"></small>
                              </div>
                           </div>
                           <div class="col-lg-6 col-md-6">
                              <div class="form-group">    
                                 <input type="time" class="form-control"> 
                              </div>
                           </div>
                           <div class="col-lg-6 col-md-6">
                              <div class="form-group">
                                 <select class="form-control position-relative">
                                    <option>Choose Doctor </option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                 </select>
                                 <i class="fas fa-angle-down down-icon"></i>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-lg-12">
                              <div class="textarea form-group W-100">    
                                 <textarea class="form-control "  placeholder="Message:" rows="3" name="comments" id="comments"></textarea>
                              </div>
                           </div>
                        </div>
                        <button type="submit" class="btn  appointment-btn">Make Appointment</button>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- form-section -->
      <!-- news-letter-section -->
      <section>
         <div class="w-100 float-left news-letter-con">
            <div class="container">
               <div class="news-letter-inner-con banner-overlay-img">
                  <div class="row overlay-img align-items-center">
                     <div class="col-lg-6 col-md-5">
                        <div class="news-letter-title">
                           <h2 class="text-white mb-0">Subscribe to our 
                              Newsletter
                           </h2>
                        </div>
                     </div>
                     <div class="col-lg-6 col-md-7">
                        <div class="news-letter-input-con position-relative">
                           <div class="news-letter-input-feild">
                              <input type="email" placeholder="Enter Your Email:" class="w-100">
                           </div>
                           <button>
                           <i class="far fa-envelope"></i>
                           </button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- news-letter-section -->
      <!-- logo-section -->
      <div class="w-100 float-left logo-con">
         <div class="container">
            <div class="logo-inner-con">
               <div class="row">
                   @foreach (var item in Model.photos)
                   {
                       <div class="col-lg-2 col-md-2 col-sm-4 col-4">
                     <figure class="mb-0">
                        <img src="@item.PhotoURL" alt="client-logo-img" class="img-fluid">
                     </figure>
                  </div>
                   }
                  
                  
               </div>
            </div>
         </div>
      </div>
      <!-- logo-section -->
     
      <!-- footer-section -->
      <div class="w-100 float-left footer-con text-xl-left text-lg-left text-center">
         <div class="container">
            <div class="row">
               <div class="col-lg-6 col-md-6 col-12">
                  <p class="mb-0">Copyright ©2022 medtexh.com All Rights Reserved</p>
               </div>
               <div class="col-lg-6 col-md-6 col-12 d-flex justify-content-xl-end justify-content-lg-end justify-content-center">
                  <figure class="mb-0 d-inline-block">
                     <img src="assets/image/payment-img1.png" alt="payment-img" class="img-fluid">
                  </figure>
                  <figure class="mb-0 d-inline-block">
                     <img src="assets/image/payment-img2.png" alt="payment-img" class="img-fluid">
                  </figure>
                  <figure class="mb-0 d-inline-block">
                     <img src="assets/image/payment-img3.png" alt="payment-img" class="img-fluid">
                  </figure>
                  <figure class="mb-0 d-inline-block mr-0">
                     <img src="assets/image/payment-img4.png" alt="payment-img" class="img-fluid">
                  </figure>
               </div>
            </div>
         </div>
      </div>
      <!-- footer-section -->