@model ServicesVM    

@{
    ViewData["Title"] = "Services Page";
}

<section>
    @foreach (var item in Model.healthy)
    {
        <div class="w-100 float-left generic-banner-con text-xl-left text-lg-left text-center">
                     <div class="container">
                        <div class="generic-banner-content text-white text-center">
                           <h1>@item.Title</h1>
                           <p class="text-white mb-0">@item.Description</p>
                        </div>
                     </div>
                  </div>
           
    }
     </section>
               <!-- banner-end -->
            </div>
         </div>
      </div>
      <section>
         <div class="w-100 float-left service-box-con">
            <div class="container">
                
                    <div class="service-box-inner-con">
                  <div class="row ml-0 mr-0">
                @foreach (var item in Model.professions)
                {
                     <div class="col-lg-3 col-md-3 col-sm-6 pl-0 pr-0 border-right-0">
                        <div class="service-box-item text-center">
                           <figure>
                              <img src="@item.PhotoURL" alt="service-box-icon" class="img-fluid">
                           </figure>
                           <h5>@item.Title</h5>
                           <span class="d-block">@item.</span>
                        </div>
                     </div>
                     
                  
              
                }
              
               </div>
               </div>
            </div>
         </div>
      </section>
      <!-- service-box -->
            <!-- core-vaule-section -->
            <section>
         <div class="w-100 float-left core-vaule-con">
            <div class="container">
               <div class="row">
                  <div class="col-lg-6 col-md-6 d-md-flex align-items-md-end order-xl-0 order-lg-0 order-md-0 order-2">
                     <div class="form-left-con core-vaule-left-con position-relative text-center">
                        <figure class="mb-0 left-curve-img wow slideInLeft" style="visibility: visible; animation-name: slideInLeft;">
                           <img src="assets/image/small-left-curve-img.png" alt="" class="img-fluid">
                        </figure>
                        <figure class="mb-0">
                           <img src="assets/image/core-value-left-img.png" alt="form-left-img" class="mb-0 img-fluid human-img">
                        </figure>
                        <figure class="mb-0 right-curve-img wow slideInRight" style="visibility: visible; animation-name: slideInRight;">
                           <img src="assets/image/small-right-curve-img.png" alt="" class="img-fluid">
                        </figure>
                     </div>
                  </div>
                  <div class="col-lg-6 col-md-6">
                     <div class="core-vaule-right-con text-xl-left text-lg-left text-md-left text-center">
                        <div class="core-vaule-title">
                           <h2>Our Core Values And 
                              Principle</h2>
                           <p>Seram ipsum dolor sit amet, consectetur adipiscing elit, sed 
                              doeius mod tempor incididunt aenean leo.</p>
                        </div>
                        <div class="core-vaule-box-con">
                           <div class="core-vaule-box-item position-relative">
                               @foreach (var item in Model.professions)
                               {
                                     <figure class="mb-0">
                                 <img src="@item.PhotoURL" alt="core-vaule-box-icon" class="img-fluid">
                              </figure>
                              <div class="core-vaule-box-title">
                                 <h5>@item.Title</h5>
                                 <span class="d-block">@item.Description</span>
                              </div>
                               }
                            
                         
                           </div>
                        </div>
                     </div>
                    
                  </div>
               </div>
            </div>
         </div>
      </section>
            <!-- core-vaule-section -->
      <!-- news-letter-section -->
      <section>
         <div class="w-100 float-left news-letter-con">
            <div class="container">
               <div class="news-letter-inner-con banner-overlay-img">
                  <div class="row overlay-img align-items-center">
                     <div class="col-lg-6 col-md-5">
                        <div class="news-letter-title">
                           <h2 class="text-white mb-0">Subscribe to our 
                              Newsletter
                           </h2>
                        </div>
                     </div>
                     <div class="col-lg-6 col-md-7">
                        <div class="news-letter-input-con position-relative">
                           <div class="news-letter-input-feild">
                              <input type="email" placeholder="Enter Your Email:" class="w-100">
                           </div>
                           <button>
                           <i class="far fa-envelope"></i>
                           </button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- news-letter-section -->
      <!-- logo-section -->
       <div class="w-100 float-left logo-con">
         <div class="container">
            <div class="logo-inner-con">
               <div class="row">
                   @foreach (var item in Model.photos)
                   {
                       <div class="col-lg-2 col-md-2 col-sm-4 col-4">
                     <figure class="mb-0">
                        <img src="@item.PhotoURL" alt="client-logo-img" class="img-fluid">
                     </figure>
                  </div>
                   }
                  
                  
               </div>
            </div>
         </div>
      </div>
      <!-- logo-section -->
     
      <!-- footer-section -->
      
      <!-- footer-section -->