
<tr>
    <td>@Model.Title</td>
    <td>@Html.Raw(Model.Description)</td>
    <br />
    <td><img width="200" src="@Model.PhotoURL" /></td>
    <td>@Model.Count</td>
    <td>@Model.Info</td>
    <td>
        <a href="/admin/patient/delete/@Model.Id">
            <button class="btn btn-danger">Delete</button>
        </a>
    </td>
</tr>