
<tr>
    <td>@Model.Title</td>
    <td>@Model.Name</td>

    <td>@Html.Raw(Model.Description)</td>
    <td>@Model.Info</td>
    <td>@Model.Email</td>
    <td>@Model.Phone</td>


    <br />
    <td><img width="200" src="@Model.PhotoURL" /></td>
    
    <td>
        <a href="/admin/detail/delete/@Model.Id">
            <button class="btn btn-danger">Delete</button>
        </a>
    </td>
</tr>
