<form method="post" enctype="multipart/form-data">
    <div class="col-5" enctype="multipart/form-data">
        <input class="form-control" name="Title" value="@Model.Title" />
         <input class="form-control" name="Name" value="@Model.Name" />
        <input class="form-control" name="Description" value="@Model.Description" />
         <input class="form-control" name="Info" value="@Model.Info" />
         <input class="form-control" name="Email" value="@Model.Email" />
         <input class="form-control" name="Phone" value="@Model.Phone" />
        <img src="@Model.PhotoURL" class="img-fluid" />
        <input type="hidden" name="OldPhoto" value="@Model.PhotoURL" />
        <input type="file" name="Image" />
       

        <input class="btn btn-success btn-sm" type="submit" value="Edit" />
    </div>
    
</form>