@model HomeVM



<!-- banner-start -->
<section>
    <div class="w-100 float-left banner-con text-xl-left text-lg-left text-center">
        <div class="container">
            <div class="row">
                @foreach (var item in Model.healthy)
                {
                    <div class="col-lg-6 order-xl-0 order-lg-0 order-2">
                        <div class="banner-left-con">
                            <figure class="mb-0 left-curve-img wow slideInLeft">
                                <img src="assets/image/small-left-curve-img.png" alt="" class="img-fluid">
                            </figure>
                            <figure class="mb-0">
                                <img src="@item.PhotoURL" alt="banner-left-img" class="img-fluid banner-left-img">
                            </figure>


                            <figure class="mb-0 right-curve-img wow slideInRight">
                                <img src="assets/image/small-right-curve-img.png" alt="" class="img-fluid">
                            </figure>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="banner-right-content text-white">
                            <h5>Healthy. Everyday.</h5>
                            <h1>
                                @item.Title
                            </h1>
                            <p class="text-white col-lg-10 col-md-9 ml-xl-0 mr-xl-0 ml-lg-0 mr-lg-0 ml-auto mr-auto pl-0 pr-0">@item.Description</p>


                            <a href="#contact-form" class="appointment-btn ">Make Appointment</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!-- banner-end -->
            </div>
         </div>
      </div>
<!-- header-and-banner-section -->
<!-- feature-box -->
<section>
    <div class="w-100 float-left feature-box-con text-center">
        <div class="container">
            <div class="row bg-white">

                @foreach (var item in Model.professions)
                {
                    <div class="col-lg-3 col-md-3 col-sm-6  pl-0 pr-0">
                        <div class="feature-box-item ">
                            <figure>
                                <img src="@item.PhotoURL" alt="feature-box-icon" class="img-fluid">
                            </figure>
                            <h5>@item.Title</h5>
                            <p class="mb-0">@item.Description</p>
                        </div>
                    </div>
                }


            </div>
        </div>
</section>
<!-- feature-box -->
<!-- quality-system-section -->
<section>
    <div class="w-100 float-left quality-system-con">
        <div class="container">
            <div class="row">
                @foreach (var item in Model.quality)
                {
                    <div class="col-lg-6 col-md-6 d-flex align-items-center">
                        <div class="quality-system-left-con">
                            <h2>
                                @item.Title
                            </h2>
                            <p>@item.Description</p>
                            <p>Aenean leo ligula, porttitor eu consequat vitae eleifend ac enim aliqu am lorem ante dapibus in viverra quis feugiata tellus.</p>
                            <div class="quality-system-list">
                                <ul class="list-unstyled">
                                    <li class="position-relative"><i class="fas fa-circle"></i>@item.Info</li>
                                    <li class="position-relative"><i class="fas fa-circle"></i>Emergency Cases</li>
                              <li class="position-relative"><i class="fas fa-circle"></i>Expert Doctors</li>    
                                </ul>
                                 <ul class="list-unstyled">
                              <li class="position-relative"><i class="fas fa-circle"></i>Update Covid-19</li>
                              <li class="position-relative"><i class="fas fa-circle"></i>24/7 Help Center</li>
                              <li class="position-relative"><i class="fas fa-circle"></i>Modern Clinic</li>
                           </ul>
                            </div>
                            <a href="#contact-form" class="appointment-btn">Make Appointment</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="quality-system-right-con position-relative text-center">

                            <figure class="mb-0">
                                <img src="@item.PhotoURL" alt="quality-system-img" class="img-fluid human-img">
                            </figure>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</section>
<!-- quality-system-section -->
<!-- offer-section -->
<section>
    <div class="w-100 float-left offer-con">
        <div class="container">
            <div class="offer-inner-con banner-overlay-img">
               @foreach (var item in Model.protects)
               {
                    <div class="row">

                        <div class="col-lg-6 col-md-6 col-12 order-xl-0 order-lg-0 order-md-0 order-2">
                            <div class="offer-left-con position-relative overlay-img">

                                <figure class="mb-0">
                                    <img src="@item.PhotoURL" alt="offer-section-img" class="img-fluid">
                                </figure>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="offer-right-con overlay-img">
                                <h2 class="text-white">
                                    @item.Title<br>
                                    @item.Description
                                </h2>
                                <a href="contact.html" class="shope-btn">Shop Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="offer-note">
                        <h4 class="text-white mb-0">@item.Sale <span class="d-block"></span></h4>
                    </div>
               }
                   
                

            </div>
        </div>
    </div>
</section>
<!-- offer-section -->
<!-- fun-facts-section-->
<section>
    <div class="w-100 float-left fun-facts-con">
        <div class="container">
            <div class="row text-xl-left text-lg-left text-center">
                <div class="col-lg-6">
                    <div class="fun-facts-heading ">
                        <h2>
                            A Healing Touch to Heal
                            you Completely.
                        </h2>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="fun-facts-content">
                        <p class=" mb-0">Seram ipsum dolor sit amet, consectetur adipiscing elit, sed do eius mod tempor incididunt aenean leo ligula, porttitor eu consequat vitae eleifend ac enim aliqu am </p>
                    </div>
                </div>
            </div>
            <div class="fun-facts-box-con text-sm-left text-center">
                <div class="row bg-white">
                    @foreach (var item in Model.patients)
                    {
                        <div class="col-lg-3 col-md-6 col-6 pl-0 pr-0 border-right-0">
                        <div class="fun-facts-box-item d-sm-flex align-items-sm-center">
                            <figure class="mb-0 d-inline-block">
                                <img src="@item.PhotoURL" alt="fun-facts-icon1" class="img-fluid">
                            </figure>
                            <div class="fun-facts-item-content d-inline-block">
                                <div class="position-relative fun-facts-item-title d-inline-block">
                                    <h2 class="count">@item.Count</h2>
                                    <span>+</span>
                                </div>
                                <p class="mb-0">
                                     @item.Info
                                </p>
                            </div>
                        </div>
                    </div>
                    }
                    
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- fun-facts-section-->
<!-- form-section -->
<section>
    <div class="w-100 float-left form-main-con" id="contact-form">
        <div class="container">
            <div class="text-center">
                <h2>Book An Appointment</h2>
                <p>
                    Seram ipsum dolor sit amet, consectetur adipiscing elit, sed do eius mod tempor incididunt aenean<br>
                    leo ligula porttitor eu consequat vitae eleifend tac.
                </p>
            </div>
            <div class="row">
                <div class="col-lg-6 order-xl-0 order-lg-0 order-2">
                    <div class="form-left-con position-relative text-center">
                        <figure class="mb-0 left-curve-img wow slideInLeft">
                            <img src="assets/image/small-left-curve-img.png" alt="" class="img-fluid">
                        </figure>
                        <figure class="mb-0">
                            <img src="assets/image/form-left-img.png" alt="form-left-img" class="img-fluid human-img form-left-img">
                        </figure>
                        <figure class="mb-0 right-curve-img wow slideInRight">
                            <img src="assets/image/small-right-curve-img.png" alt="" class="img-fluid">
                        </figure>
                    </div>
                </div>
                <div class="col-lg-6">
                    <form method="post" class="contact-form">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1" class="text-white">Department</label>
                            <select class="form-control position-relative" id="exampleFormControlSelect1">
                                <option>Doctors</option>
                                <option>Hospitals</option>
                                <option>General Medicine</option>
                                <option>Hospice Care</option>
                                <option>Rehab</option>
                            </select>
                            <i class="fas fa-angle-down"></i>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Name:" name="Name" id="name">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <input type="email" name="Email" class="form-control" placeholder="Email:">
                                    <small id="emailHelp" class="form-text text-muted"></small>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <input type="time" name="Date" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <select class="form-control position-relative">
                                        <option>Choose Doctor </option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                    <i class="fas fa-angle-down down-icon"></i>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="ProssionId" />
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="textarea form-group W-100">
                                    <textarea class="form-control "  placeholder="Message:" rows="3" name="Message" id="comments"></textarea>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn  appointment-btn">Make Appointment</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- form-section -->
<!-- slider-section -->
<section>
    <div class="w-100 float-left slider-con text-lg-left text-center">
        <div class="container">
            <div class="slider-inner-con banner-overlay-img">
                <div class="row overlay-img">
                    <div class="col-lg-6 d-flex align-items-center">
                        <div class="slider-left-con">
                            <h2 class="text-white">
                                What Our <br>
                                Patients Say About
                                Our Services
                            </h2>
                            <p class="mb-0">
                                4.8 Overall Rating, Based<br>
                                on 2500+ Reviews.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="auther-con w-100 d-inline-block">
                                        <figure class="mb-0 d-inline-block">
                                            <img src="assets/image/auther-img.png" alt="auther-img" class="img-fluid">
                                        </figure>
                                        <div class="auther-title d-inline-block">
                                            <h4 class="text-white">Victoria Sullivan</h4>
                                            <p class="mb-0">Dental Patient</p>
                                        </div>
                                    </div>
                                    <p class="text-white mb-0">Seram ipsum dolor sit amet consectetur adipiscing elit sed do eius mod tempor incididunt aenean leo ligula portti tor eu consequat vitae eleifend tac phasellus viverra nulla utm etus varius laoreetuisque rutrumenean imperdiet tiam ultri cies nisi vel augues mod tempor in.</p>
                                </div>
                                @foreach (var item in Model.about)
                                {
                                   <div class="carousel-item">
                                    <div class="auther-con w-100 d-inline-block">
                                        <figure class="mb-0 d-inline-block">
                                            <img src="@item.PhotoURL" alt="auther-img" class="img-fluid">
                                        </figure>
                                        <div class="auther-title d-inline-block">
                                            <h4 class="text-white">@item.Title</h4>
                                            <p class="mb-0">@item.Name</p>
                                        </div>
                                    </div>
                                    <p class="text-white mb-0">@item.Description</p>
                                </div> 
                                }
                                
                                
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
                                <i class="fas fa-arrow-left"></i>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
                                <i class="fas fa-arrow-right"></i>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- slider-section -->
<!-- blog section -->
<section>
    <div class="w-100 float-left blog-con">
        <div class="container">
            <div class="text-center">
                <h2>Our Latest News</h2>
                <p>
                    Seram ipsum dolor sit amet, consectetur adipiscing elit, sed do eius mod tempor incididunt aenean<br>
                    leo ligula porttitor eu consequat vitae eleifend tac.
                </p>
            </div>
            <div class="row">

                @foreach (var item in Model.news)
                {
                     <div class="col-lg-4 col-md-4">
                    <a href="single-post.html">
                        <div class="blog-item">
                            <figure class="mb-0">
                                <img src="@item.PhotoURL" alt="blog-img" class="img-fluid">
                            </figure>
                            <div class="blog-item-content">
                                <div class="blog-item-auther-name">
                                    <span>@item.Name</span>
                                    <span>@item.Date</span>
                                </div>
                                <h4>
                                    @item.Title
                                </h4>
                                <p class="mb-0">
                                    @item.Description
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                }
               
                
            </div>
        </div>
    </div>
</section>
<!-- blog section -->
<!-- mobile-app-section -->
<section>
    <div class="w-100 float-left mobile-app-con">
        <div class="container">
            <div class="row">
                @foreach (var item in Model.apps)
                {
                     <div class="col-lg-6 col-md-6 order-xl-0 order-lg-0 order-md-0 order-2">
                    <div class="mobile-app-left-con position-relative text-center">
                        <figure class="mb-0">
                            <img src="@item.PhotoURL" alt="mobile-img" class="img-fluid human-img">
                        </figure>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 text-xl-left text-lg-left text-md-left text-center">
                    <div class="mobile-app-right-con">
                        <h2>
                           @item.Title
                        </h2>
                        <p>@item.Description</p>
                        <p>@item.Info</p>
                        <div class="mobile-app-btn">
                            <a href="https://play.google.com/store/apps" class="appointment-btn"><i class="fab fa-google-play text-white"></i>Goolge Play</a>
                            <a href="https://www.apple.com/app-store/" class="appointment-btn"><i class="fab fa-app-store text-white"></i>App Store</a>
                        </div>
                    </div>
                </div>
                }
               
            </div>
        </div>
    </div>
</section>
<!-- mobile-app-section -->
<!-- news-letter-section -->
<section>
    <div class="w-100 float-left news-letter-con">
        <div class="container">
            <div class="news-letter-inner-con banner-overlay-img">
                <div class="row overlay-img align-items-center">
                    <div class="col-lg-6 col-md-5">
                        <div class="news-letter-title">
                            <h2 class="text-white mb-0">
                                Subscribe to our
                                Newsletter
                            </h2>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-7">
                        <form method="post">
                             <div class="news-letter-input-con position-relative">
                            <div class="news-letter-input-feild">
                                <input type="email" name="Email" placeholder="Enter Your Email:" class="w-100">
                            </div>
                            <button>
                                <i class="far fa-envelope"></i>
                            </button>
                        </div>
                        </form>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- news-letter-section -->
<!-- logo-section -->
<div class="w-100 float-left logo-con">
    <div class="container">
        <div class="logo-inner-con">
            <div class="row">
                @foreach (var item in Model.photos)
                {
                    <div class="col-lg-2 col-md-2 col-sm-4 col-4">
                    <figure class="mb-0">
                        <img src="@item.PhotoURL" alt="client-logo-img" class="img-fluid">
                    </figure>
                </div>
                }
                
               
            </div>
        </div>
    </div>
</div>
<!-- logo-section -->
